.apuesta input
{
    position: relative;
    top: 40px;
    right: 10px;
    width: 165px;
    height: 40px;
    font-size: 30px;
    border-radius: 10px;
    border: goldenrod;
}

.apuesta label
{
    position: relative;
    top: 0px;
    left: 130px;
    width: 160px;
    height: 40px;
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;    
    color: rgb(236, 225, 8);
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  
.titulo h1 {
    text-align: center;
    font-size: 5em;
    color: rgb(236, 236, 16);
    border: goldenrod;
  }


body{
    background-image:url(Imagenes/Fondo.avif) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#contenedor{
    margin: 50,50,50,50;
    cursor: pointer;
}

#a{
    float:left; width:20%;height:30%;
}

img{
    height: 300px;width: 200px; align-self: center;
    border: 5px solid black;
    border-radius: 24px;
}

.carta.clicked
{
    border-color: #007bff;
}

.botones-juego{
    display: absolute;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 15vh;
    text-align: center;
    margin-top: 20px;
}

.botones-juego button
{
    top: 50px;
    margin: 30px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: antiquewhite;
}

#checkboxes{
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: #d96459;
    font-family: monospace;
    font-size: 25px;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    opacity: 0.9;
}

h2{
    margin-top: 240px;
    text-align: center;
    font-size: 40px;
    color: rgb(236, 236, 16);
    border: goldenrod;
}